<h1>Here are all the restaurants</h1>
<%= link_to "Add a restaurant", new_restaurant_path %>

<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(255,102,102,0.4) 0%, rgba(255,204,102, 0.4) 50%), url('http://placehold.it/350x150'); background-size: cover;">
          <div class="card-category"><%= restaurant.address %></div>
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.phone_number %></p>
            <p><%= restaurant.category %></p>
          </div>
          <%= link_to "#", restaurant_path(restaurant), class: "card-link" %>
        </div>
        <%= link_to "Edit restaurant", edit_admin_restaurant_path(restaurant) %>
      <%= link_to 'Destroy restaurant', admin_restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>


